*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.first{
    background-color: #f6f7f8;
    padding: 10px 0;
}

.first .left a{
    text-decoration: none;
    color: gray;
    margin-right: 20px;
    font-size: 13px;

}

.first .left a:hover{
    text-decoration: underline;
}
.maina{
    text-decoration: none !important;
    border: 1px solid rgb(52, 52, 250) ;
    color: rgb(52, 52, 250) !important;
    padding: 5px;
    font-size: 15px !important;
    border-radius: 20px;
    transition: .5s;
}

.maina:hover{
    color: white !important;
    background-color: rgb(52, 52, 250);
}

.right{
    justify-content: space-around;
}

.right .c{
cursor: pointer;
color: rgb(95, 83, 83);
font-size: 13px;
}

.active{
    visibility: visible !important;
    opacity: 1 !important;
}
.second{
   visibility: hidden;
   opacity: 0;
   transition: .5s;

   
}


.search input{
    width: 100%;
    height: 150px;
    font-size: 40px;
    color: rgb(95, 83, 83);
    border: none;
    outline: none;
}

.search .searchright {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 40px;
    
}
.search .searchright i{
    cursor: pointer;
}

.axtaris{
    color: rgb(88, 88, 255) !important;
}
.dpdown{
    position: relative;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}
.dpdown li{
    list-style: none;
    transition: .5s;

}
.dpdown .text
{
    position: absolute;
    width: 5%;
    top: 2px;
    right: 236px;
    box-shadow: 0px 0px 17px 1px;
}

.third{
    padding: 20px;
    display: none;
}

.third .thirdleft img{
    width: 50%;
}

.third .thirdright i{
    font-size: 30px;
}
.third .thirdright .remover{
    visibility: hidden;
    opacity: 0;
    display: none;
}

.nonactive{
    visibility: hidden !important;
    opacity: 0 !important;
}


.menubar{
    background-color: white;
    position: fixed;
    width: 0%;
    height: 100%;
    top:50px;
    right:0;
    transition: .5s;
}

.menubar a{
    text-decoration: none;
    color: rgb(95, 83, 83);
}




@media (max-width:576px)
{
    .first{
        display: none;
    }

    .third{
        display: block;
    }
    .second {
        display: none;
    }
}
